@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

body {
    background-color: #E3E3E3;
}



hr {
    height: 2px;
    border: 0;
    background: #E3E3E3;
}

h1{
    font-weight: bold;
    font-size: x-large;
}

button {
    border: #CD67DE;
    border-radius: 10px;
    background-color:  #CD67DE;
    padding:4px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    display: inline;
    
}

th{
    padding: 0px 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #E3E3E3;
}

td{
   padding: 3px 0px;
   border-bottom: 2px solid #E3E3E3;
}
.menu_container {
    background-color: white;
    border: 1px;
    border-color: #E3E3E3;
    height: 120vh;
    width: 244px;
    flex-shrink: 0;
    animation:fadeInLeft;
    animation-duration: 0.8s;
}

.menu_list a {
    text-decoration-line: none;
    color: inherit;
}

.menu_list li {
    padding: 15px;
    padding-left: 30px;
    border-bottom: 1px solid #E3E3E3;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.menu_list li:hover {
    background-color: #F5F5F5;
}

.post_container {
    margin: 20px;
    background-color: white;
    border-radius: 1%;
    padding: 10px;
    width: 100%;

    animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 0.8s; /* don't forget to set a duration! */
  
}

.page_title {
    font-size: 20px;
    font-weight: bold;
}

.modal {
    background-color: rgba(0,0,0,0.2);
    overflow-y: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    padding-left: 1px;
    padding-top: 1px;
    padding-right: 7px;
    padding-bottom: 7px;
    transform: translate(-50%, -50%);
    z-index: 1011;
    height:550px;
}

.modal_body{
    padding:20px;
    background-color: white;
    width: 800px;
    height: 100%;
    border-radius: 10px;
    animation: bounceIn;
    animation-duration: 0.5s;
}

.filebox label {
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #CD67DE;
    cursor: pointer;
    margin-left: 10px;
    font-size: 14px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.body{
    text-align: center;
}

.Postings{
    margin: auto;
    border-collapse: collapse;
}

#postList_form{
    margin: 15px 0px;
}

.header button{
    float:right;
}

.pagination{
    margin-top: 10px;
}

.chatroom_container {
    margin: 20px;
    background-color: white;
    border-radius: 1%;
    padding: 10px;
    width: 100%;
}

.Chatrooms{
    margin: auto;
    border-collapse: collapse;
}

.productInfo_container{
    margin: 20px;
    background-color: white;
    border-radius: 1%;
    padding: 10px;
    width: 100%;
}
.Models{
    margin: auto;
    border-collapse: collapse;
}

.form_table td{
    width:300px;
    text-align: right;
    border:0px;
}

.form_content{
    width:500px;
    height:200px;
}

.form_title{
    width:447px;
}

 .content_area{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .content_box{
    border: 1px solid #E3E3E3;
    width:500px;
    height:200px;
    text-align: left;
    padding:10px;
 }

 .chat_table td{
    margin:10px;
    padding:3px 20px;
    border:0px;
    text-align: left;
}

.home{
    margin: 0;
    padding: 0;
    width: 100%;
}

.today{
    margin: 20px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    animation:fadeInRight;
    animation-duration: 0.8s;
}

.hom_conf{
    margin: 8px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex:1;
    margin-right: 8px;
    animation:fadeInRight;
    animation-duration: 0.8s;
}

.hom_quest{
    margin: 8px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex:1;
    margin-right: 8px;
    animation:fadeInRight;
    animation-duration: 0.8s;
}

.hom_report{
    margin: 8px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex:1;
    margin-left: 8px;
    animation:fadeInRight;
    animation-duration: 0.8s;
}

.stat{
    margin: 8px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    flex:1;
    margin-left: 8px;
    animation:fadeInRight;
    animation-duration: 0.8s;
}

.wrap_box{
    display: flex;
    height: 250px;
}



.big_number{
    border: #CD67DE;
    border-radius: 15px;
    background-color:  #CD67DE;
    padding:2px 10px;
    color:white;
    display: inline;
    margin-left: 5px;
    font-size: 23px;
}
.small_number{
    margin-left: 10px;
    color:#CD67DE;
    font-weight: bold;
}
.today_table td{
    padding:5px 20px;
    border:0px;
}

.home_lists{
    margin: auto;
}

.home_lists td {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.home_lists_title{
    width: 250px;
}
.new_note{
    border: #CD67DE;
    border-radius: 15px;
    background-color:  #CD67DE;
    padding:5px 10px;
    color:white;
    display: inline;
    margin-left: 5px;
}