@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: row;
    width:100vh;
    height: 100vh;
}

body{
    background-color: #E3E3E3;
}

.menu_container{
    background-color: white;
    border: 1px;
    border-color: #E3E3E3;
    height:100%;    
}

.menu_list a{
    text-decoration-line: none;
    color: inherit;
}

.menu_list li{
    padding: 10px;
    border-bottom: 1px solid #E3E3E3;
    font-size: 20px;
    font-weight: bold;
}

.menu_list li:hover{
    background-color: #F5F5F5;
}

.post_container{
    margin-top:20px;
    margin-left: 20px;
    width: 400px;
    height:400px;
    background-color: white;
}

